@font-face {
    font-family: Atlantico;
    src: url(Fonts/Atlantico.otf);
}
@font-face {
    font-family: Nohemi-Bold;
    src: url(Fonts/Nohemi/OpenType-TT/Nohemi-Bold.ttf)
}
@font-face {
    font-family: Nohemi-SemiBold;
    src: url(Fonts/Nohemi/OpenType-TT/Nohemi-SemiBold.ttf)
}
@font-face {
    font-family: Nohemi-Regular;
    src: url(Fonts/Nohemi/OpenType-TT/Nohemi-Regular.ttf);
}

@font-face {
    font-family: Nohemi-ExtraLight;
    src: url(Fonts/Nohemi/OpenType-TT/Nohemi-ExtraLight.ttf);
}

:root {
    /* colors */
    --antiquePeach: #f4e9e0;
    --flame: #d1a068;
    --burntSienna: #6c4506;
    --powderGrey: #94989f;
    --azureSky: #1e3d52;
    --midnightNavy: #080b19;

    /* fonts */
    --nohBold: Nohemi-Bold;
    --nohSemBold: Nohemi-SemiBold;
    --nohReg: Nohemi-Regular;
    --nohExLight: Nohemi-ExtraLight;
    --h1: 54px/70px var(--nohBold);
    --h2: 36px/36px var(--nohBold);
    --h3: 24px/30px var(--nohBold);
    --links: 18px/18px var(--nohSemBold);
    --p2: 30px/36px var(--nohReg);
    --p: 18px/30px var(--nohExLight);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{font: var(--h1); letter-spacing: -1.5px;}
h2{font: var(--h3);}
h3{font: var(--h3);}
.links{font: var(--links);}
.p2{font: var(--p2);}
p{font: var(--p);}

html, body {
    background-color: var(--flame);
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#logo {
    width: 500px;
    position: absolute;
    top: 10px;
}

#title {
  width: 100%;
  text-align: center;
  color: var(--burntSienna);
}

#input-div {
  max-width: 75vw;
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
}

#number {
  width: 100%;
  height: 45px;
  border: 2px solid var(--burntSienna);
  border-radius: 50px;
  padding: 0 15px;
  background-color: var(--antiquePeach);
  color: var(--midnightNavy);
  text-align: center;
  font: var(--p);
}

#convert-btn {
  padding: 10px;
  max-height: 40px;
  height: 100%;
  font: var(--links);
  position: absolute;
  top: 2.5px;
  right: 2.5px;
  border: none;
  border-radius: 50px;
  background-color: var(--azureSky);
  color: var(--antiquePeach);
}

#convert-btn:hover {
  color: var(--azureSky);
  background-color: var(--powderGrey);
}

#output {
  display: none;
  max-width: 75vw;
  width: 100%;
  border-radius: 50px;
  padding: 15px;
  text-align: center;
  background-color: var(--burntSienna);
}

#output-number {
  font: var(--h2);
  color: var(--antiquePeach);
}